*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgba(48, 184, 104, 1) rgba(255, 255, 255, 1);
    }
    /* share style ? */

.btn{
    border: 4px;
    padding: 12px 16px;
    border-radius: 4px;
    background-color:#30B868;
    width: 142px;
    height: 61px;
    padding: 16px 12px;
    color: white;
    cursor: pointer;
}
.btn-1{
    border-radius: 4px;
    background-color: #30B868;
    padding: 12px 16px 12px 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    
}

.btn-2{
    border-radius: 4px;
        padding: 12px 16px 12px 16px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: none;
        color: white;
}
    /* main style  */

nav{
    
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    margin-bottom: 16px;
}
.manu{
    display: flex;
    gap: 30px;
    align-items: center;
    list-style-type:none;
}
.manu a{
    text-decoration: none;
    
}
.logo{
    width: 140px;
    height: 61px;
}
.hero-container{
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
    padding: 0 auto;
    gap: 32px;
    
}
#hero{
    background: url(assets/hero-bg.png), rgba(0, 25, 49, 0.8);
    background-repeat:no-repeat
    /* width: 1600px;
    height: 670px; */
    justify-content: center;
    text-align: center;
    padding: 70px 120px 134px 120px;
    
}
.open{
    background-color: #FFFFFF;
    border-radius: 1000px;
    
    
}
.hero-container h2{
    font-size: 72px;
    font-weight: bold;
    align-items: center;
}
.hero-container span{
    color: #30B868;
}
.hero-container p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400px;
    padding-top: 16px;
    padding-bottom: 32px;
}
#note{
    padding: 0px 120px 120px 120px ;
}
.note-container{
    margin:0px 120px 44px 120px;
    border: 1px solid red;
    text-align: center;
}
.note-container h2{
font-size: 41px;
font-weight: bold;
padding-top: 60px;
padding-bottom: 16px;
}
.note-container{
    line-height: 20px 0px;
}
.container-card{
    align-items: center;
}
.container-card{
    background-color: white;
    border-radius: 15px;
    padding: 20px 20px;
}
.card img{
    background-color: #F95555;
}
#card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.knowledge-container{
    display: flex;
    align-items: center;
    gap: 40px;
    
}
.knowledge-img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
    gap: 60px;
}
.knowledge-content p{
    color:#469165;
    line-height: 20px;
}
.knowledge-content h2{
    margin-top: 16px;
    font-size: 48px;
    line-height: 58px;
    font-weight: 700px;
}
.knowledge-content .p-1{
    color:#627382;
    line-height: 20px;
    margin-bottom: 40px;
    margin-top: 16px;
}
.features{
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    margin-bottom: 30px;
}
.features img{
        width: 20px;
        height: 20px;
        gap: 6px;
        padding-top: 6px;

}
.checkmark{
    text-align:left ;
}
#knowledge{
    margin-bottom: 120px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
